@import './base.css';

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a,
.green {
  font-size: 24px;
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
@media screen and (min-width: 768px) {
  #app{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
  }
}
